<h1>Hey there!</h1>
<br>
<h2><%= @referral.inviter.name %> has invited you to join Ripplr!</h2>
Ripplr is a social platform with no ads, that values people and
their choices.
<br>
<br>
We're still in the very beginning and you will definitely
find stuff that is not quite there yet, but we're working
on it — and we welcome all feedback!
<br>
<br>
At the same time, all products need users, especially early adopters,
and we're no exception. We need people who want to be part of something new,
people who believe in what we're doing, ultimately we need
people who want to help with content and actionable feedback.
<br>
<br>
If this resonates with you, if you want to be part of this and
want to help, hop in and enjoy the ride!
<br>
<br>
<a href="<%= app_sign_up_url(@referral.id) %>" class="button button-primary">Join Ripplr</a>
<br>
<br>
Thanks,<br>
Ripplr Team
