<h1>Hey there!</h1>
<br>
<h2><%= @referral.inviter.name %> has invited to join Ripplr!</h2>
Ripplr is a new place to get and share relevant content,
learn and grow from others, and have a good time with it.
<br>
<br>
We're still in the very beginning and you will definitely
find stuff that is not quite there yet, but we're working
on it, and eventually, we'll get there.
<br>
<br>
At the same time, all digital products need users,
especially early adopters, and we're no exception.
We need people who want to be part of something new,
people who believe in what're doing, ultimately we need
people who want to help with content and actionable feedback.
<br>
<br>
If this resonates with you, if you want to be part of this and
want to help, hop in and enjoy the ride!
<br>

<a href="<%= sign_up_route(@referral.id) %>">Join Ripplr</a>
<br>
Thanks,<br>
Ripplr Team
