<tr>
  <td class="header">
    <a href="https://ripplr.io" target="_blank">
      <img src="https://ripplr.ams3.digitaloceanspaces.com/brand/logo-black.png" alt="ripplr logo" height="60">
    </a>
  </td>
</tr>
