<h1>Hey there!</h1>
<br>
<h2>A password recovery request has been made for <%= @resource.email %></h2>
If you did not ask for a password recovery, please ignore this e-mail.
<br>
<a href="<%= app_password_reset_url(@token) %>">
Reset Password
</a>
<br>
Thanks,<br>
Ripplr Team
